<!DOCTYPE html>
<html>
<head>
  <title>SimpleSwitch</title>
  <%= stylesheet_link_tag    'simple_switch/application', media: 'all' %>
  <%= javascript_include_tag 'simple_switch/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
